astroid==4.1.2
bandit==1.9.4
cfgv==3.5.0
colorama==0.4.6
dill==0.4.1
distlib==0.4.3
filelock==3.29.4
identify==2.6.19
iniconfig==2.3.0
isort==8.0.1
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
nodeenv==1.10.0
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
Pygments==2.20.0
pylint==4.0.6
PyMuPDF==1.27.2.3
pytest==9.1.0
pytest-mock==3.15.1
python-discovery==1.4.2
PyYAML==6.0.3
rich==15.0.0
stevedore==5.8.0
tomlkit==0.15.0
virtualenv==21.5.0
